#video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
img{
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */  
        margin-top: 40px;
        margin-left: 20px;
}
button{
    background-color: black;
}
li{
    cursor: pointer;
    font-family: cursive;
}
body{
    background-color:snow
}
.brand-logo{
    font-family: cursive;
}