#video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    margin-right: 20px;
    float: right;
    display: none;
}
img{
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */  
        margin-top: 40px;
        margin-left: 20px;
        float: left;
}
button{
    background-color: black;
}
.li{
    cursor: pointer;
    font-family: cursive;
    font-style: italic;
    background-color: yellow
}
body{
    background-color:snow
}
.brand-logo{
    font-family: cursive;
    font-style:italic;
}
.nav-wrapper{
    background-color: ghostwhite;
}